<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">Frutas y Verduras</a>
        <nav>
           <ul>
               <li>
                    <a href="#" routerLink="/cart-page">Carro</a>
               </li>
           </ul>
        </nav>
    </div>
</header>

<!--
<header>

  <nav class="nav-header">

    <div class="nav_container">

       <h1 class="nav_logo">ComerFrut</h1>

       <label for="menu" class="nav_label">
        <img src="../../assets/img/menu.svg" class="nav_img" alt="Menu">
       </label>
       <input type="checkbox" id="menu" class="nav_input">

       <div class="nav_menu">

        <a href="#" class="nav_item">Carrito</a>
        <a href="#" class="nav_item">Frutas</a>
        <a href="#" class="nav_item">Verduras</a>
        <a href="#" class="nav_item">Carnicos</a>

       </div>

    </div>
  </nav>


</header>-->
