<div class="container">
    <img [src]="product.imageUrl" [alt]="product.name">
</div>
<div class="details">
    <div class="header">
        <span class="name">
           {{product.name}}
        </span>
    </div>
    <div class="origins">
        <span *ngFor="let origin of product.origins">
           {{origin}}
        </span>
    </div>
    <div class="tag">
        <app-tags [productPageTags]="product.tags"></app-tags>
    </div>
    <div class="price">
         <span>
            {{product.price| currency}}
         </span>
    </div>
    <button (click)="addToCart()">Agregar al carrito</button>
</div>